/* Main */
body {
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #181a1a;
    
}

.content {
    min-height: 100vh;
}



/* ------------------scroll bar------------------*/

@media screen and (max-height:550px){
    html{
        overflow-y: scroll;
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-thumb {
background: rgb(1, 43, 56);
border-radius: 100px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
/* ------------------Nav Styles------------------ */
nav {
    position: fixed;
    top: 0;
    width: 105%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1b1c1c;
    font-family:'Poppins', sans-serif;
}

.logo{
    color: rgb(241, 239, 239);
    text-transform: uppercase;
    letter-spacing: 4px;
    min-width: 260px;
    text-align: center;
    font-size: 18px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    max-width: 450px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 13px;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}



/* navstyles - burger */
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------footer------------------ */
.footer{
    background-color: rgb(42, 42, 43);
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 37px;
}

.social-media{
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.social-media img{
    max-height: 25px;
    width: auto;
}

.divider{
    display: block;
}

.copyright{
    margin-top: 5px;
}

.divider div{
    width: 1px;
    height: 20px;
    background-color: rgb(125, 123, 123);
    margin: 5px;
    transition: all 0.3s ease;
}


/* nav settings on smaller screens */
@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }

    nav{
        justify-content: space-between;
    }

    .nav-links{
        margin: 0;
        max-width: none;
        position: absolute;
        left: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #1b1c1c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        margin-inline: 10px;
        display: block;
        cursor: pointer; 
    }

    .nav-active{
        transform: translateX(0%);
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .footer{
        display: block;
        justify-content: space-around;
        height: 72px;
    }

    .divider{
        display: none;
    }
    
    .social-media{
        margin: auto;
        width: 20%;
    }
    
    .social-media img{
        margin-top: 10px;
        max-height: 25px;
        width: auto;
    }

    .copyright{
        text-align: center;
        font-size: small;
    }
}

/* ------------------Small designs------------------ */
/* segrecation lines */
.main h1{
    font-size: 30px;
}
@media screen and (max-width: 600px) {
    .main {
        font-size: 20px;
    }
}

/*----------EXTRAS-----------------*/
.no-decor{
    text-decoration: none;
    text-shadow: none;
    color: whitesmoke;
}

.comming-soon{
    text-transform: capitalize;
    text-align: center;
    height: fit-content;
    width: 20%;
    min-width:180px;
    border-radius: 100px;
    background-color: rgb(213, 213, 222);
    opacity: 0.8;
}

